body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #333;
	background: #fff url(./images/header_bg.png) repeat-x;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.g-header {
	width: 960px;
	height: 30px;
	margin: 0 auto;
}
.g-header .m-logo {
	float: left;
	width: 100px;
	height: 30px;
	
}
.g-header .m-logo img {
	display: block;
}
.g-header .m-member {
	position: relative;
	float: right;
	width: 70px;
	height: 30px;
	line-height: 30px;
	background: url(./images/arrow.png) no-repeat 55px center;
	cursor: pointer;
}

.g-header .m-member ul {
	position: absolute;
	top: 30px;
	left: 0;
	width: 88px;
	height: 120px;
	padding: 10px 0 0 0;
	border: 1px solid #999;
	border-top: none;
	background: #f1f1f1;
	display: none;
}
.g-header .m-member ul li {
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
}
.g-header .m-member ul li a {
	display: block;
	color: #333;
	background: url(./images/arrow3.gif) no-repeat 5px 45%;
}
.g-header .m-member ul li a:hover {
	background: #fc0  url(./images/arrow4.gif) no-repeat 5px 45%;
}

.g-header .login {
	float: right;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.g-header .login:hover {
	background: #fc0;
}
#j-screen {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	filter:alpha(opacity=30);
	opacity: .3;
	z-index: 9998;
	display: none;
}
.m-login {
	position: absolute;
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	background: #fff;
	display: none;
	z-index: 9999;
}
.m-login h2 {
	height: 40px;
	line-height: 40px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	border-bottom: 1px solid #ccc;
	color: #666;
	background: url(./images/login_header.png) repeat-x;
	cursor: pointer;
}
.m-login h2 img {
	float: right;
	position: relative;
	top: 14px;
	right: 8px;
	cursor: pointer;
}
.m-login .user,.m-login .pass {
	font-size: 14px;
	color: #666;
	padding: 5px 0;
	text-align: center;
}
.m-login input.text {
	width: 200px;
	height: 25px;
	font-size: 14px;
	border: 1px solid #ccc;
	background: #fff;
}
.m-login .button {
	text-align: center;
	padding: 20px 0;
}
.m-login .button .submit {
	width: 107px;
	height: 30px;
	border: none;
	background: url(./images/login_button.png) no-repeat;
	cursor: pointer;
}
.m-login .other {
	text-align: right;
	padding: 15px 10px;
	color: #666;
}